@use '../values/color/dark' as color;

$color--none: #{color.$none};
$color--white: #{color.$white};
$color--black: #{color.$black};

$color--gray-050: #{color.$gray-050};
$color--gray-075: #{color.$gray-075};
$color--gray-100: #{color.$gray-100};
$color--gray-200: #{color.$gray-200};
$color--gray-300: #{color.$gray-300};
$color--gray-400: #{color.$gray-400};
$color--gray-500: #{color.$gray-500};
$color--gray-600: #{color.$gray-600};
$color--gray-700: #{color.$gray-700};
$color--gray-800: #{color.$gray-800};
$color--gray-900: #{color.$gray-900};

$color--blue-100: #{color.$blue-100};
$color--blue-200: #{color.$blue-200};
$color--blue-300: #{color.$blue-300};
$color--blue-400: #{color.$blue-400};
$color--blue-500: #{color.$blue-500};
$color--blue-600: #{color.$blue-600};
$color--blue-700: #{color.$blue-700};
$color--blue-800: #{color.$blue-800};
$color--blue-900: #{color.$blue-900};
$color--blue-1000: #{color.$blue-1000};
$color--blue-1100: #{color.$blue-1100};
$color--blue-1200: #{color.$blue-1200};
$color--blue-1300: #{color.$blue-1300};
$color--blue-1400: #{color.$blue-1400};

$color--red-100: #{color.$red-100};
$color--red-200: #{color.$red-200};
$color--red-300: #{color.$red-300};
$color--red-400: #{color.$red-400};
$color--red-500: #{color.$red-500};
$color--red-600: #{color.$red-600};
$color--red-700: #{color.$red-700};
$color--red-800: #{color.$red-800};
$color--red-900: #{color.$red-900};
$color--red-1000: #{color.$red-1000};
$color--red-1100: #{color.$red-1100};
$color--red-1200: #{color.$red-1200};
$color--red-1300: #{color.$red-1300};
$color--red-1400: #{color.$red-1400};

$color--orange-100: #{color.$orange-100};
$color--orange-200: #{color.$orange-200};
$color--orange-300: #{color.$orange-300};
$color--orange-400: #{color.$orange-400};
$color--orange-500: #{color.$orange-500};
$color--orange-600: #{color.$orange-600};
$color--orange-700: #{color.$orange-700};
$color--orange-800: #{color.$orange-800};
$color--orange-900: #{color.$orange-900};
$color--orange-1000: #{color.$orange-1000};
$color--orange-1100: #{color.$orange-1100};
$color--orange-1200: #{color.$orange-1200};
$color--orange-1300: #{color.$orange-1300};
$color--orange-1400: #{color.$orange-1400};

$color--yellow-100: #{color.$yellow-100};
$color--yellow-200: #{color.$yellow-200};
$color--yellow-300: #{color.$yellow-300};
$color--yellow-400: #{color.$yellow-400};
$color--yellow-500: #{color.$yellow-500};
$color--yellow-600: #{color.$yellow-600};
$color--yellow-700: #{color.$yellow-700};
$color--yellow-800: #{color.$yellow-800};
$color--yellow-900: #{color.$yellow-900};
$color--yellow-1000: #{color.$yellow-1000};
$color--yellow-1100: #{color.$yellow-1100};
$color--yellow-1200: #{color.$yellow-1200};
$color--yellow-1300: #{color.$yellow-1300};
$color--yellow-1400: #{color.$yellow-1400};

$color--chartreuse-100: #{color.$chartreuse-100};
$color--chartreuse-200: #{color.$chartreuse-200};
$color--chartreuse-300: #{color.$chartreuse-300};
$color--chartreuse-400: #{color.$chartreuse-400};
$color--chartreuse-500: #{color.$chartreuse-500};
$color--chartreuse-600: #{color.$chartreuse-600};
$color--chartreuse-700: #{color.$chartreuse-700};
$color--chartreuse-800: #{color.$chartreuse-800};
$color--chartreuse-900: #{color.$chartreuse-900};
$color--chartreuse-1000: #{color.$chartreuse-1000};
$color--chartreuse-1100: #{color.$chartreuse-1100};
$color--chartreuse-1200: #{color.$chartreuse-1200};
$color--chartreuse-1300: #{color.$chartreuse-1300};
$color--chartreuse-1400: #{color.$chartreuse-1400};

$color--celery-100: #{color.$celery-100};
$color--celery-200: #{color.$celery-200};
$color--celery-300: #{color.$celery-300};
$color--celery-400: #{color.$celery-400};
$color--celery-500: #{color.$celery-500};
$color--celery-600: #{color.$celery-600};
$color--celery-700: #{color.$celery-700};
$color--celery-800: #{color.$celery-800};
$color--celery-900: #{color.$celery-900};
$color--celery-1000: #{color.$celery-1000};
$color--celery-1100: #{color.$celery-1100};
$color--celery-1200: #{color.$celery-1200};
$color--celery-1300: #{color.$celery-1300};
$color--celery-1400: #{color.$celery-1400};

$color--green-100: #{color.$green-100};
$color--green-200: #{color.$green-200};
$color--green-300: #{color.$green-300};
$color--green-400: #{color.$green-400};
$color--green-500: #{color.$green-500};
$color--green-600: #{color.$green-600};
$color--green-700: #{color.$green-700};
$color--green-800: #{color.$green-800};
$color--green-900: #{color.$green-900};
$color--green-1000: #{color.$green-1000};
$color--green-1100: #{color.$green-1100};
$color--green-1200: #{color.$green-1200};
$color--green-1300: #{color.$green-1300};
$color--green-1400: #{color.$green-1400};

$color--seafoam-100: #{color.$seafoam-100};
$color--seafoam-200: #{color.$seafoam-200};
$color--seafoam-300: #{color.$seafoam-300};
$color--seafoam-400: #{color.$seafoam-400};
$color--seafoam-500: #{color.$seafoam-500};
$color--seafoam-600: #{color.$seafoam-600};
$color--seafoam-700: #{color.$seafoam-700};
$color--seafoam-800: #{color.$seafoam-800};
$color--seafoam-900: #{color.$seafoam-900};
$color--seafoam-1000: #{color.$seafoam-1000};
$color--seafoam-1100: #{color.$seafoam-1100};
$color--seafoam-1200: #{color.$seafoam-1200};
$color--seafoam-1300: #{color.$seafoam-1300};
$color--seafoam-1400: #{color.$seafoam-1400};

$color--cyan-100: #{color.$cyan-100};
$color--cyan-200: #{color.$cyan-200};
$color--cyan-300: #{color.$cyan-300};
$color--cyan-400: #{color.$cyan-400};
$color--cyan-500: #{color.$cyan-500};
$color--cyan-600: #{color.$cyan-600};
$color--cyan-700: #{color.$cyan-700};
$color--cyan-800: #{color.$cyan-800};
$color--cyan-900: #{color.$cyan-900};
$color--cyan-1000: #{color.$cyan-1000};
$color--cyan-1100: #{color.$cyan-1100};
$color--cyan-1200: #{color.$cyan-1200};
$color--cyan-1300: #{color.$cyan-1300};
$color--cyan-1400: #{color.$cyan-1400};

$color--indigo-100: #{color.$indigo-100};
$color--indigo-200: #{color.$indigo-200};
$color--indigo-300: #{color.$indigo-300};
$color--indigo-400: #{color.$indigo-400};
$color--indigo-500: #{color.$indigo-500};
$color--indigo-600: #{color.$indigo-600};
$color--indigo-700: #{color.$indigo-700};
$color--indigo-800: #{color.$indigo-800};
$color--indigo-900: #{color.$indigo-900};
$color--indigo-1000: #{color.$indigo-1000};
$color--indigo-1100: #{color.$indigo-1100};
$color--indigo-1200: #{color.$indigo-1200};
$color--indigo-1300: #{color.$indigo-1300};
$color--indigo-1400: #{color.$indigo-1400};

$color--purple-100: #{color.$purple-100};
$color--purple-200: #{color.$purple-200};
$color--purple-300: #{color.$purple-300};
$color--purple-400: #{color.$purple-400};
$color--purple-500: #{color.$purple-500};
$color--purple-600: #{color.$purple-600};
$color--purple-700: #{color.$purple-700};
$color--purple-800: #{color.$purple-800};
$color--purple-900: #{color.$purple-900};
$color--purple-1000: #{color.$purple-1000};
$color--purple-1100: #{color.$purple-1100};
$color--purple-1200: #{color.$purple-1200};
$color--purple-1300: #{color.$purple-1300};
$color--purple-1400: #{color.$purple-1400};

$color--fuchsia-100: #{color.$fuchsia-100};
$color--fuchsia-200: #{color.$fuchsia-200};
$color--fuchsia-300: #{color.$fuchsia-300};
$color--fuchsia-400: #{color.$fuchsia-400};
$color--fuchsia-500: #{color.$fuchsia-500};
$color--fuchsia-600: #{color.$fuchsia-600};
$color--fuchsia-700: #{color.$fuchsia-700};
$color--fuchsia-800: #{color.$fuchsia-800};
$color--fuchsia-900: #{color.$fuchsia-900};
$color--fuchsia-1000: #{color.$fuchsia-1000};
$color--fuchsia-1100: #{color.$fuchsia-1100};
$color--fuchsia-1200: #{color.$fuchsia-1200};
$color--fuchsia-1300: #{color.$fuchsia-1300};
$color--fuchsia-1400: #{color.$fuchsia-1400};

$color--magenta-100: #{color.$magenta-100};
$color--magenta-200: #{color.$magenta-200};
$color--magenta-300: #{color.$magenta-300};
$color--magenta-400: #{color.$magenta-400};
$color--magenta-500: #{color.$magenta-500};
$color--magenta-600: #{color.$magenta-600};
$color--magenta-700: #{color.$magenta-700};
$color--magenta-800: #{color.$magenta-800};
$color--magenta-900: #{color.$magenta-900};
$color--magenta-1000: #{color.$magenta-1000};
$color--magenta-1100: #{color.$magenta-1100};
$color--magenta-1200: #{color.$magenta-1200};
$color--magenta-1300: #{color.$magenta-1300};
$color--magenta-1400: #{color.$magenta-1400};

$color--info-100: #{color.$info-100};
$color--info-200: #{color.$info-200};
$color--info-300: #{color.$info-300};
$color--info-400: #{color.$info-400};
$color--info-500: #{color.$info-500};
$color--info-600: #{color.$info-600};
$color--info-700: #{color.$info-700};
$color--info-800: #{color.$info-800};
$color--info-900: #{color.$info-900};
$color--info-1000: #{color.$info-1000};
$color--info-1100: #{color.$info-1100};
$color--info-1200: #{color.$info-1200};
$color--info-1300: #{color.$info-1300};
$color--info-1400: #{color.$info-1400};

$color--positive-100: #{color.$positive-100};
$color--positive-200: #{color.$positive-200};
$color--positive-300: #{color.$positive-300};
$color--positive-400: #{color.$positive-400};
$color--positive-500: #{color.$positive-500};
$color--positive-600: #{color.$positive-600};
$color--positive-700: #{color.$positive-700};
$color--positive-800: #{color.$positive-800};
$color--positive-900: #{color.$positive-900};
$color--positive-1000: #{color.$positive-1000};
$color--positive-1100: #{color.$positive-1100};
$color--positive-1200: #{color.$positive-1200};
$color--positive-1300: #{color.$positive-1300};
$color--positive-1400: #{color.$positive-1400};

$color--notice-100: #{color.$notice-100};
$color--notice-200: #{color.$notice-200};
$color--notice-300: #{color.$notice-300};
$color--notice-400: #{color.$notice-400};
$color--notice-500: #{color.$notice-500};
$color--notice-600: #{color.$notice-600};
$color--notice-700: #{color.$notice-700};
$color--notice-800: #{color.$notice-800};
$color--notice-900: #{color.$notice-900};
$color--notice-1000: #{color.$notice-1000};
$color--notice-1100: #{color.$notice-1100};
$color--notice-1200: #{color.$notice-1200};
$color--notice-1300: #{color.$notice-1300};
$color--notice-1400: #{color.$notice-1400};

$color--negative-100: #{color.$negative-100};
$color--negative-200: #{color.$negative-200};
$color--negative-300: #{color.$negative-300};
$color--negative-400: #{color.$negative-400};
$color--negative-500: #{color.$negative-500};
$color--negative-600: #{color.$negative-600};
$color--negative-700: #{color.$negative-700};
$color--negative-800: #{color.$negative-800};
$color--negative-900: #{color.$negative-900};
$color--negative-1000: #{color.$negative-1000};
$color--negative-1100: #{color.$negative-1100};
$color--negative-1200: #{color.$negative-1200};
$color--negative-1300: #{color.$negative-1300};
$color--negative-1400: #{color.$negative-1400};

$color--accent-100: #{color.$accent-100};
$color--accent-200: #{color.$accent-200};
$color--accent-300: #{color.$accent-300};
$color--accent-400: #{color.$accent-400};
$color--accent-500: #{color.$accent-500};
$color--accent-600: #{color.$accent-600};
$color--accent-700: #{color.$accent-700};
$color--accent-800: #{color.$accent-800};
$color--accent-900: #{color.$accent-900};
$color--accent-1000: #{color.$accent-1000};
$color--accent-1100: #{color.$accent-1100};
$color--accent-1200: #{color.$accent-1200};
$color--accent-1300: #{color.$accent-1300};
$color--accent-1400: #{color.$accent-1400};

$color--default-100: #{color.$default-100};
$color--default-200: #{color.$default-200};
$color--default-300: #{color.$default-300};
$color--default-400: #{color.$default-400};
$color--default-500: #{color.$default-500};
$color--default-600: #{color.$default-600};
$color--default-700: #{color.$default-700};
$color--default-800: #{color.$default-800};
$color--default-900: #{color.$default-900};
$color--default-1000: #{color.$default-1000};
$color--default-1100: #{color.$default-1100};
$color--default-1200: #{color.$default-1200};
$color--default-1300: #{color.$default-1300};
$color--default-1400: #{color.$default-1400};

$color--disabled-100: #{color.$disabled-100};
$color--disabled-200: #{color.$disabled-200};
$color--disabled-300: #{color.$disabled-300};
$color--disabled-400: #{color.$disabled-400};
$color--disabled-500: #{color.$disabled-500};
$color--disabled-600: #{color.$disabled-600};
$color--disabled-700: #{color.$disabled-700};
$color--disabled-800: #{color.$disabled-800};
$color--disabled-900: #{color.$disabled-900};
$color--disabled-1000: #{color.$disabled-1000};
$color--disabled-1100: #{color.$disabled-1100};
$color--disabled-1200: #{color.$disabled-1200};
$color--disabled-1300: #{color.$disabled-1300};
$color--disabled-1400: #{color.$disabled-1400};
