@use '../tokens/aliases/dark' as color;

.theme--dark {

  // static color
  --color--none : #{color.$color--none};
  --color--white : #{color.$color--white};
  --color--black : #{color.$color--black};

  // static color
  --color--gray-050: #{color.$color--gray-050};
  --color--gray-075: #{color.$color--gray-075};
  --color--gray-100: #{color.$color--gray-100};
  --color--gray-200: #{color.$color--gray-200};
  --color--gray-300: #{color.$color--gray-300};
  --color--gray-400: #{color.$color--gray-400};
  --color--gray-500: #{color.$color--gray-500};
  --color--gray-600: #{color.$color--gray-600};
  --color--gray-700: #{color.$color--gray-700};
  --color--gray-800: #{color.$color--gray-800};
  --color--gray-900: #{color.$color--gray-900};

  --color--blue-100: #{color.$color--blue-100};
  --color--blue-200: #{color.$color--blue-200};
  --color--blue-300: #{color.$color--blue-300};
  --color--blue-400: #{color.$color--blue-400};
  --color--blue-500: #{color.$color--blue-500};
  --color--blue-600: #{color.$color--blue-600};
  --color--blue-700: #{color.$color--blue-700};
  --color--blue-800: #{color.$color--blue-800};
  --color--blue-900: #{color.$color--blue-900};
  --color--blue-1000: #{color.$color--blue-1000};
  --color--blue-1100: #{color.$color--blue-1100};
  --color--blue-1200: #{color.$color--blue-1200};
  --color--blue-1300: #{color.$color--blue-1300};
  --color--blue-1400: #{color.$color--blue-1400};

  --color--red-100: #{color.$color--red-100};
  --color--red-200: #{color.$color--red-200};
  --color--red-300: #{color.$color--red-300};
  --color--red-400: #{color.$color--red-400};
  --color--red-500: #{color.$color--red-500};
  --color--red-600: #{color.$color--red-600};
  --color--red-700: #{color.$color--red-700};
  --color--red-800: #{color.$color--red-800};
  --color--red-900: #{color.$color--red-900};
  --color--red-1000: #{color.$color--red-1000};
  --color--red-1100: #{color.$color--red-1100};
  --color--red-1200: #{color.$color--red-1200};
  --color--red-1300: #{color.$color--red-1300};
  --color--red-1400: #{color.$color--red-1400};

  --color--orange-100: #{color.$color--orange-100};
  --color--orange-200: #{color.$color--orange-200};
  --color--orange-300: #{color.$color--orange-300};
  --color--orange-400: #{color.$color--orange-400};
  --color--orange-500: #{color.$color--orange-500};
  --color--orange-600: #{color.$color--orange-600};
  --color--orange-700: #{color.$color--orange-700};
  --color--orange-800: #{color.$color--orange-800};
  --color--orange-900: #{color.$color--orange-900};
  --color--orange-1000: #{color.$color--orange-1000};
  --color--orange-1100: #{color.$color--orange-1100};
  --color--orange-1200: #{color.$color--orange-1200};
  --color--orange-1300: #{color.$color--orange-1300};
  --color--orange-1400: #{color.$color--orange-1400};

  --color--yellow-100: #{color.$color--yellow-100};
  --color--yellow-200: #{color.$color--yellow-200};
  --color--yellow-300: #{color.$color--yellow-300};
  --color--yellow-400: #{color.$color--yellow-400};
  --color--yellow-500: #{color.$color--yellow-500};
  --color--yellow-600: #{color.$color--yellow-600};
  --color--yellow-700: #{color.$color--yellow-700};
  --color--yellow-800: #{color.$color--yellow-800};
  --color--yellow-900: #{color.$color--yellow-900};
  --color--yellow-1000: #{color.$color--yellow-1000};
  --color--yellow-1100: #{color.$color--yellow-1100};
  --color--yellow-1200: #{color.$color--yellow-1200};
  --color--yellow-1300: #{color.$color--yellow-1300};
  --color--yellow-1400: #{color.$color--yellow-1400};

  --color--chartreuse-100: #{color.$color--chartreuse-100};
  --color--chartreuse-200: #{color.$color--chartreuse-200};
  --color--chartreuse-300: #{color.$color--chartreuse-300};
  --color--chartreuse-400: #{color.$color--chartreuse-400};
  --color--chartreuse-500: #{color.$color--chartreuse-500};
  --color--chartreuse-600: #{color.$color--chartreuse-600};
  --color--chartreuse-700: #{color.$color--chartreuse-700};
  --color--chartreuse-800: #{color.$color--chartreuse-800};
  --color--chartreuse-900: #{color.$color--chartreuse-900};
  --color--chartreuse-1000: #{color.$color--chartreuse-1000};
  --color--chartreuse-1100: #{color.$color--chartreuse-1100};
  --color--chartreuse-1200: #{color.$color--chartreuse-1200};
  --color--chartreuse-1300: #{color.$color--chartreuse-1300};
  --color--chartreuse-1400: #{color.$color--chartreuse-1400};

  --color--celery-100: #{color.$color--celery-100};
  --color--celery-200: #{color.$color--celery-200};
  --color--celery-300: #{color.$color--celery-300};
  --color--celery-400: #{color.$color--celery-400};
  --color--celery-500: #{color.$color--celery-500};
  --color--celery-600: #{color.$color--celery-600};
  --color--celery-700: #{color.$color--celery-700};
  --color--celery-800: #{color.$color--celery-800};
  --color--celery-900: #{color.$color--celery-900};
  --color--celery-1000: #{color.$color--celery-1000};
  --color--celery-1100: #{color.$color--celery-1100};
  --color--celery-1200: #{color.$color--celery-1200};
  --color--celery-1300: #{color.$color--celery-1300};
  --color--celery-1400: #{color.$color--celery-1400};

  --color--green-100: #{color.$color--green-100};
  --color--green-200: #{color.$color--green-200};
  --color--green-300: #{color.$color--green-300};
  --color--green-400: #{color.$color--green-400};
  --color--green-500: #{color.$color--green-500};
  --color--green-600: #{color.$color--green-600};
  --color--green-700: #{color.$color--green-700};
  --color--green-800: #{color.$color--green-800};
  --color--green-900: #{color.$color--green-900};
  --color--green-1000: #{color.$color--green-1000};
  --color--green-1100: #{color.$color--green-1100};
  --color--green-1200: #{color.$color--green-1200};
  --color--green-1300: #{color.$color--green-1300};
  --color--green-1400: #{color.$color--green-1400};

  --color--seafoam-100: #{color.$color--seafoam-100};
  --color--seafoam-200: #{color.$color--seafoam-200};
  --color--seafoam-300: #{color.$color--seafoam-300};
  --color--seafoam-400: #{color.$color--seafoam-400};
  --color--seafoam-500: #{color.$color--seafoam-500};
  --color--seafoam-600: #{color.$color--seafoam-600};
  --color--seafoam-700: #{color.$color--seafoam-700};
  --color--seafoam-800: #{color.$color--seafoam-800};
  --color--seafoam-900: #{color.$color--seafoam-900};
  --color--seafoam-1000: #{color.$color--seafoam-1000};
  --color--seafoam-1100: #{color.$color--seafoam-1100};
  --color--seafoam-1200: #{color.$color--seafoam-1200};
  --color--seafoam-1300: #{color.$color--seafoam-1300};
  --color--seafoam-1400: #{color.$color--seafoam-1400};

  --color--cyan-100: #{color.$color--cyan-100};
  --color--cyan-200: #{color.$color--cyan-200};
  --color--cyan-300: #{color.$color--cyan-300};
  --color--cyan-400: #{color.$color--cyan-400};
  --color--cyan-500: #{color.$color--cyan-500};
  --color--cyan-600: #{color.$color--cyan-600};
  --color--cyan-700: #{color.$color--cyan-700};
  --color--cyan-800: #{color.$color--cyan-800};
  --color--cyan-900: #{color.$color--cyan-900};
  --color--cyan-1000: #{color.$color--cyan-1000};
  --color--cyan-1100: #{color.$color--cyan-1100};
  --color--cyan-1200: #{color.$color--cyan-1200};
  --color--cyan-1300: #{color.$color--cyan-1300};
  --color--cyan-1400: #{color.$color--cyan-1400};

  --color--indigo-100: #{color.$color--indigo-100};
  --color--indigo-200: #{color.$color--indigo-200};
  --color--indigo-300: #{color.$color--indigo-300};
  --color--indigo-400: #{color.$color--indigo-400};
  --color--indigo-500: #{color.$color--indigo-500};
  --color--indigo-600: #{color.$color--indigo-600};
  --color--indigo-700: #{color.$color--indigo-700};
  --color--indigo-800: #{color.$color--indigo-800};
  --color--indigo-900: #{color.$color--indigo-900};
  --color--indigo-1000: #{color.$color--indigo-1000};
  --color--indigo-1100: #{color.$color--indigo-1100};
  --color--indigo-1200: #{color.$color--indigo-1200};
  --color--indigo-1300: #{color.$color--indigo-1300};
  --color--indigo-1400: #{color.$color--indigo-1400};

  --color--purple-100: #{color.$color--purple-100};
  --color--purple-200: #{color.$color--purple-200};
  --color--purple-300: #{color.$color--purple-300};
  --color--purple-400: #{color.$color--purple-400};
  --color--purple-500: #{color.$color--purple-500};
  --color--purple-600: #{color.$color--purple-600};
  --color--purple-700: #{color.$color--purple-700};
  --color--purple-800: #{color.$color--purple-800};
  --color--purple-900: #{color.$color--purple-900};
  --color--purple-1000: #{color.$color--purple-1000};
  --color--purple-1100: #{color.$color--purple-1100};
  --color--purple-1200: #{color.$color--purple-1200};
  --color--purple-1300: #{color.$color--purple-1300};
  --color--purple-1400: #{color.$color--purple-1400};

  --color--fuchsia-100: #{color.$color--fuchsia-100};
  --color--fuchsia-200: #{color.$color--fuchsia-200};
  --color--fuchsia-300: #{color.$color--fuchsia-300};
  --color--fuchsia-400: #{color.$color--fuchsia-400};
  --color--fuchsia-500: #{color.$color--fuchsia-500};
  --color--fuchsia-600: #{color.$color--fuchsia-600};
  --color--fuchsia-700: #{color.$color--fuchsia-700};
  --color--fuchsia-800: #{color.$color--fuchsia-800};
  --color--fuchsia-900: #{color.$color--fuchsia-900};
  --color--fuchsia-1000: #{color.$color--fuchsia-1000};
  --color--fuchsia-1100: #{color.$color--fuchsia-1100};
  --color--fuchsia-1200: #{color.$color--fuchsia-1200};
  --color--fuchsia-1300: #{color.$color--fuchsia-1300};
  --color--fuchsia-1400: #{color.$color--fuchsia-1400};

  --color--magenta-100: #{color.$color--magenta-100};
  --color--magenta-200: #{color.$color--magenta-200};
  --color--magenta-300: #{color.$color--magenta-300};
  --color--magenta-400: #{color.$color--magenta-400};
  --color--magenta-500: #{color.$color--magenta-500};
  --color--magenta-600: #{color.$color--magenta-600};
  --color--magenta-700: #{color.$color--magenta-700};
  --color--magenta-800: #{color.$color--magenta-800};
  --color--magenta-900: #{color.$color--magenta-900};
  --color--magenta-1000: #{color.$color--magenta-1000};
  --color--magenta-1100: #{color.$color--magenta-1100};
  --color--magenta-1200: #{color.$color--magenta-1200};
  --color--magenta-1300: #{color.$color--magenta-1300};
  --color--magenta-1400: #{color.$color--magenta-1400};

  --color--info-100: #{color.$color--info-100};
  --color--info-200: #{color.$color--info-200};
  --color--info-300: #{color.$color--info-300};
  --color--info-400: #{color.$color--info-400};
  --color--info-500: #{color.$color--info-500};
  --color--info-600: #{color.$color--info-600};
  --color--info-700: #{color.$color--info-700};
  --color--info-800: #{color.$color--info-800};
  --color--info-900: #{color.$color--info-900};
  --color--info-1000: #{color.$color--info-1000};
  --color--info-1100: #{color.$color--info-1100};
  --color--info-1200: #{color.$color--info-1200};
  --color--info-1300: #{color.$color--info-1300};
  --color--info-1400: #{color.$color--info-1400};

  --color--positive-100: #{color.$color--positive-100};
  --color--positive-200: #{color.$color--positive-200};
  --color--positive-300: #{color.$color--positive-300};
  --color--positive-400: #{color.$color--positive-400};
  --color--positive-500: #{color.$color--positive-500};
  --color--positive-600: #{color.$color--positive-600};
  --color--positive-700: #{color.$color--positive-700};
  --color--positive-800: #{color.$color--positive-800};
  --color--positive-900: #{color.$color--positive-900};
  --color--positive-1000: #{color.$color--positive-1000};
  --color--positive-1100: #{color.$color--positive-1100};
  --color--positive-1200: #{color.$color--positive-1200};
  --color--positive-1300: #{color.$color--positive-1300};
  --color--positive-1400: #{color.$color--positive-1400};

  --color--notice-100: #{color.$color--notice-100};
  --color--notice-200: #{color.$color--notice-200};
  --color--notice-300: #{color.$color--notice-300};
  --color--notice-400: #{color.$color--notice-400};
  --color--notice-500: #{color.$color--notice-500};
  --color--notice-600: #{color.$color--notice-600};
  --color--notice-700: #{color.$color--notice-700};
  --color--notice-800: #{color.$color--notice-800};
  --color--notice-900: #{color.$color--notice-900};
  --color--notice-1000: #{color.$color--notice-1000};
  --color--notice-1100: #{color.$color--notice-1100};
  --color--notice-1200: #{color.$color--notice-1200};
  --color--notice-1300: #{color.$color--notice-1300};
  --color--notice-1400: #{color.$color--notice-1400};

  --color--negative-100: #{color.$color--negative-100};
  --color--negative-200: #{color.$color--negative-200};
  --color--negative-300: #{color.$color--negative-300};
  --color--negative-400: #{color.$color--negative-400};
  --color--negative-500: #{color.$color--negative-500};
  --color--negative-600: #{color.$color--negative-600};
  --color--negative-700: #{color.$color--negative-700};
  --color--negative-800: #{color.$color--negative-800};
  --color--negative-900: #{color.$color--negative-900};
  --color--negative-1000: #{color.$color--negative-1000};
  --color--negative-1100: #{color.$color--negative-1100};
  --color--negative-1200: #{color.$color--negative-1200};
  --color--negative-1300: #{color.$color--negative-1300};
  --color--negative-1400: #{color.$color--negative-1400};

  --color--accent-100: #{color.$color--accent-100};
  --color--accent-200: #{color.$color--accent-200};
  --color--accent-300: #{color.$color--accent-300};
  --color--accent-400: #{color.$color--accent-400};
  --color--accent-500: #{color.$color--accent-500};
  --color--accent-600: #{color.$color--accent-600};
  --color--accent-700: #{color.$color--accent-700};
  --color--accent-800: #{color.$color--accent-800};
  --color--accent-900: #{color.$color--accent-900};
  --color--accent-1000: #{color.$color--accent-1000};
  --color--accent-1100: #{color.$color--accent-1100};
  --color--accent-1200: #{color.$color--accent-1200};
  --color--accent-1300: #{color.$color--accent-1300};
  --color--accent-1400: #{color.$color--accent-1400};

  --color--default-100: #{color.$color--default-100};
  --color--default-200: #{color.$color--default-200};
  --color--default-300: #{color.$color--default-300};
  --color--default-400: #{color.$color--default-400};
  --color--default-500: #{color.$color--default-500};
  --color--default-600: #{color.$color--default-600};
  --color--default-700: #{color.$color--default-700};
  --color--default-800: #{color.$color--default-800};
  --color--default-900: #{color.$color--default-900};
  --color--default-1000: #{color.$color--default-1000};
  --color--default-1100: #{color.$color--default-1100};
  --color--default-1200: #{color.$color--default-1200};
  --color--default-1300: #{color.$color--default-1300};
  --color--default-1400: #{color.$color--default-1400};

  --color--disabled-100: #{color.$color--disabled-100};
  --color--disabled-200: #{color.$color--disabled-200};
  --color--disabled-300: #{color.$color--disabled-300};
  --color--disabled-400: #{color.$color--disabled-400};
  --color--disabled-500: #{color.$color--disabled-500};
  --color--disabled-600: #{color.$color--disabled-600};
  --color--disabled-700: #{color.$color--disabled-700};
  --color--disabled-800: #{color.$color--disabled-800};
  --color--disabled-900: #{color.$color--disabled-900};
  --color--disabled-1000: #{color.$color--disabled-1000};
  --color--disabled-1100: #{color.$color--disabled-1100};
  --color--disabled-1200: #{color.$color--disabled-1200};
  --color--disabled-1300: #{color.$color--disabled-1300};
  --color--disabled-1400: #{color.$color--disabled-1400};


  // theme color
  --white : var(--color--gray-050);
  --black : var(--color--black);
  --none : var(--color--none);

  // color
  --color--default : var(--color--gray-900);
  --color--default--hover : var(--color--gray-800);
  --color--default--active : var(--color--gray-900);
  --color--default--selected : var(--color--gray-900);

  --color--primary : var(--color--blue-900);
  --color--primary--hover : var(--color--blue-1000);
  --color--primary--active : var(--color--blue-1100);
  --color--primary--selected : var(--color--blue-1200);
  
  --color--secondary : var(--color--celery-900);
  --color--secondary--hover : var(--color--celery-1000);
  --color--secondary--active : var(--color--celery-1100);
  --color--secondary--selected : var(--color--celery-1200);
  
  --color--info : var(--color--info-900);
  --color--info--hover : var(--color--info-1000);
  --color--info--active : var(--color--info-1100);
  --color--info--selected : var(--color--info-1200);

  --color--positive : var(--color--positive-900);
  --color--positive--hover : var(--color--positive-1000);
  --color--positive--active : var(--color--positive-1100);
  --color--positive--selected : var(--color--positive-1200);

  --color--notice : var(--color--notice-900);
  --color--notice--hover : var(--color--notice-1000);
  --color--notice--active : var(--color--notice-1100);
  --color--notice--selected : var(--color--notice-1200);

  --color--negative : var(--color--negative-900);
  --color--negative--hover : var(--color--negative-1000);
  --color--negative--active : var(--color--negative-1100);
  --color--negative--selected : var(--color--negative-1200);

  --color--accent : var(--color--accent-900);
  --color--accent--hover : var(--color--accent-1000);
  --color--accent--active : var(--color--accent-1100);
  --color--accent--selected : var(--color--accent-1200);

  --color--disabled : var(--color--disabled-900);


  // background
  --background-color--default : var(--color--default);
  --background-color--default--hover : var(--color--default--hover);
  --background-color--default--active : var(--color--default--active);
  --backgorund-color--default--selected : var(--color--default--selected);

  --background-color--primary : var(--color--primary);
  --background-color--primary--hover : var(--color--primary--hover);
  --background-color--primary--active : var(--color--primary--active);
  --background-color--primary--selected : var(--color--primary--selected);
  
  --background-color--secondary : var(--color--secondary);
  --background-color--secondary--hover : var(--color--secondary--hover);
  --background-color--secondary--active : var(--color--secondary--active);
  --background-color--secondary--selected : var(--color--secondary--selected);
  
  --background-color--info : var(--color--info);
  --background-color--info--hover : var(--color--info--hover);
  --background-color--info--active : var(--color--info--active);
  --background-color--info--selected : var(--color--info--selected);
  
  --background-color--positive : var(--color--positive);
  --background-color--positive--hover : var(--color--positive--hover);
  --background-color--positive--active : var(--color--positive--active);
  --background-color--positive--selected : var(--color--positive--selected);
  
  --background-color--notice : var(--color--notice);
  --background-color--notice--hover : var(--color--notice--hover);
  --background-color--notice--active : var(--color--notice--active);
  --background-color--notice--selected : var(--color--notice--selected);
  
  --background-color--negative : var(--color--negative);
  --background-color--negative--hover : var(--color--negative--hover);
  --background-color--negative--active : var(--color--negative--active);
  --background-color--negative--selected : var(--color--negative--selected);
  
  --background-color--accent : var(--color--accent);
  --background-color--accent--hover : var(--color--accent--hover);
  --background-color--accent--active : var(--color--accent--active);
  --background-color--accent--selected : var(--color--accent--selected);
  
  --background-color--disabled : var(--color--disabled);


  // border
  --border-color--default : var(--color--default);
  --border-color--default--hover : var(--color--default--hover);
  --border-color--default--active : var(--color--default--active);
  --border-color--default--selected : var(--color--default--selected);

  --border-color--primary : var(--color--primary);
  --border-color--primary--hover : var(--color--primary--hover);
  --border-color--primary--active : var(--color--primary--active);
  --border-color--primary--selected : var(--color--primary--selected);
  
  --border-color--secondary : var(--color--secondary);
  --border-color--secondary--hover : var(--color--secondary--hover);
  --border-color--secondary--active : var(--color--secondary--active);
  --border-color--secondary--selected : var(--color--secondary--selected);
  
  --border-color--info : var(--color--info);
  --border-color--info--hover : var(--color--info--hover);
  --border-color--info--active : var(--color--info--active);
  --border-color--info--selected : var(--color--info--selected);
  
  --border-color--positive : var(--color--positive);
  --border-color--positive--hover : var(--color--positive--hover);
  --border-color--positive--active : var(--color--positive--active);
  --border-color--positive--selected : var(--color--positive--selected);
  
  --border-color--notice : var(--color--notice);
  --border-color--notice--hover : var(--color--notice--hover);
  --border-color--notice--active : var(--color--notice--active);
  --border-color--notice--selected : var(--color--notice--selected);
  
  --border-color--negative : var(--color--negative);
  --border-color--negative--hover : var(--color--negative--hover);
  --border-color--negative--active : var(--color--negative--active);
  --border-color--negative--selected : var(--color--negative--selected);
  
  --border-color--accent : var(--color--accent);
  --border-color--accent--hover : var(--color--accent--hover);
  --border-color--accent--active : var(--color--accent--active);
  --border-color--accent--selected : var(--color--accent--selected);
  
  --border-color--disabled : var(--color--disabled);


  // background
  --background--base--background-color: var(--color--gray-050);
  --background--layer-01--background-color: var(--color--gray-100);
  --background--layer-02--background-color: var(--color--gray-200);
  

  // button
  --button--color--default: var(--white);
  --button--color--default--hover: var(--white);
  --button--color--default--active: var(--white);

  --button--color--primary: var(--white);
  --button--color--primary--hover: var(--white);
  --button--color--primary--active: var(--white);
  
  --button--color--secondary: var(--white);
  --button--color--secondary--hover: var(--white);
  --button--color--secondary--active: var(--white);
  
  --button--color--info: var(--white);
  --button--color--info--hover: var(--white);
  --button--color--info--active: var(--white);
  
  --button--color--positive: var(--white);
  --button--color--positive--hover: var(--white);
  --button--color--positive--active: var(--white);
  
  --button--color--notice: var(--white);
  --button--color--notice--hover: var(--white);
  --button--color--notice--active: var(--white);
  
  --button--color--negative: var(--white);
  --button--color--negative--hover: var(--white);
  --button--color--negative--active: var(--white);
  
  --button--color--accent: var(--white);
  --button--color--accent--hover: var(--white);
  --button--color--accent--active: var(--white);
  
  --button--color--disabled: var(--white);
  
  --button--color--none: var(--white);


  --button--background-color--default: var(--background-color--default);
  --button--background-color--default--hover: var(--background-color--default--hover);
  --button--background-color--default--active: var(--background-color--default--active);
  
  --button--background-color--primary: var(--background-color--primary);
  --button--background-color--primary--hover: var(--background-color--primary--hover);
  --button--background-color--primary--active: var(--background-color--primary--active);
  
  --button--background-color--secondary: var(--background-color--secondary);
  --button--background-color--secondary--hover: var(--background-color--secondary--hover);
  --button--background-color--secondary--active: var(--background-color--secondary--active);
  
  --button--background-color--info: var(--background-color--info);
  --button--background-color--info--hover: var(--background-color--info--hover);
  --button--background-color--info--active: var(--background-color--info--active);

  --button--background-color--positive: var(--background-color--positive);
  --button--background-color--positive--hover: var(--background-color--positive--hover);
  --button--background-color--positive--active: var(--background-color--positive--active);

  --button--background-color--notice: var(--background-color--notice);
  --button--background-color--notice--hover: var(--background-color--notice--hover);
  --button--background-color--notice--active: var(--background-color--notice--active);
  
  --button--background-color--negative: var(--background-color--negative);
  --button--background-color--negative--hover: var(--background-color--negative--hover);
  --button--background-color--negative--active: var(--background-color--negative--active);

  --button--background-color--accent: var(--background-color--accent);
  --button--background-color--accent--hover: var(--background-color--accent--hover);
  --button--background-color--accent--active: var(--background-color--accent--active);
  
  --button--background-color--disabled: var(--background-color--disabled);
  
  --button--background-color--none: var(--background-color--none);


  --button--border-color--default: var(--color--none);
  --button--border-color--default--hover: var(--color--none);
  --button--border-color--default--active: var(--color--none);
  
  --button--border-color--primary: var(--color--none);
  --button--border-color--primary--hover: var(--color--none);
  --button--border-color--primary--active: var(--color--none);
  
  --button--border-color--secondary: var(--color--none);
  --button--border-color--secondary--hover: var(--color--none);
  --button--border-color--secondary--active: var(--color--none);
  
  --button--border-color--info: var(--color--none);
  --button--border-color--info--hover: var(--color--none);
  --button--border-color--info--active: var(--color--none);
  
  --button--border-color--positive: var(--color--none);
  --button--border-color--positive--hover: var(--color--none);
  --button--border-color--positive--active: var(--color--none);

  --button--border-color--notice: var(--color--none);
  --button--border-color--notice--hover: var(--color--none);
  --button--border-color--notice--active: var(--color--none);
  
  --button--border-color--negative: var(--color--none);
  --button--border-color--negative--hover: var(--color--none);
  --button--border-color--negative--active: var(--color--none);
  
  --button--border-color--accent: var(--color--none);
  --button--border-color--accent--hover: var(--color--none);
  --button--border-color--accent--active: var(--color--none);
  
  --button--border-color--disabled: var(--color--none);
  
  --button--border-color--none: var(--color--none);
  
  
  // button-border
  --button-border--color--default: var(--color--default);
  --button-border--color--default--hover: var(--color--default--hover);
  --button-border--color--default--active: var(--color--default--active);
  --button-border--color--default--selected: var(--color--default--selected);

  --button-border--color--primary: var(--color--primary);
  --button-border--color--primary--hover: var(--color--primary--hover);
  --button-border--color--primary--active: var(--color--primary--active);
  --button-border--color--primary--selected: var(--color--primary--selected);

  --button-border--color--secondary: var(--color--secondary);
  --button-border--color--secondary--hover: var(--color--secondary--hover);
  --button-border--color--secondary--active: var(--color--secondary--active);
  --button-border--color--secondary--selected: var(--color--secondary--selected);
  
  --button-border--color--info: var(--color--info);
  --button-border--color--info--hover: var(--color--info--hover);
  --button-border--color--info--active: var(--color--info--active);
  --button-border--color--info--selected: var(--color--info--selected);
  
  --button-border--color--positive: var(--color--positive);
  --button-border--color--positive--hover: var(--color--positive--hover);
  --button-border--color--positive--active: var(--color--positive--active);
  --button-border--color--positive--selected: var(--color--positive--selected);
  
  --button-border--color--notice: var(--color--notice);
  --button-border--color--notice--hover: var(--color--notice--hover);
  --button-border--color--notice--active: var(--color--notice--active);
  --button-border--color--notice--selected: var(--color--notice--selected);
  
  --button-border--color--negative: var(--color--negative);
  --button-border--color--negative--hover: var(--color--negative--hover);
  --button-border--color--negative--active: var(--color--negative--active);
  --button-border--color--negative--selected: var(--color--negative--selected);
  
  --button-border--color--accent: var(--color--accent);
  --button-border--color--accent--hover: var(--color--accent--hover);
  --button-border--color--accent--active: var(--color--accent--active);
  --button-border--color--accent--selected: var(--color--accent--selected);
  
  --button-border--color--disabled: var(--color--disabled);
  
  --button-border--color--none: var(--color--none);


  --button-border--background-color--default: var(--color--none);
  --button-border--background-color--default--hover: var(--color--gray-200);
  --button-border--background-color--default--active: var(--color--none);
  --button-border--background-color--default--selected: var(--color--none);
  
  --button-border--background-color--primary: var(--color--none);
  --button-border--background-color--primary--hover: var(--color--blue-200);
  --button-border--background-color--primary--active: var(--color--none);
  --button-border--background-color--primary--selected: var(--color--none);
  
  --button-border--background-color--secondary: var(--color--none);
  --button-border--background-color--secondary--hover: var(--color--celery-200);
  --button-border--background-color--secondary--active: var(--color--none);
  --button-border--background-color--secondary--selected: var(--color--none);
  
  --button-border--background-color--info: var(--color--none);
  --button-border--background-color--info--hover: var(--color--info-200);
  --button-border--background-color--info--active: var(--color--none);
  --button-border--background-color--info--selected: var(--color--none);
  
  --button-border--background-color--positive: var(--color--none);
  --button-border--background-color--positive--hover: var(--color--positive-200);
  --button-border--background-color--positive--active: var(--color--none);
  --button-border--background-color--positive--selected: var(--color--none);
  
  --button-border--background-color--notice: var(--color--none);
  --button-border--background-color--notice--hover: var(--color--notice-200);
  --button-border--background-color--notice--active: var(--color--none);
  --button-border--background-color--notice--selected: var(--color--none);

  --button-border--background-color--negative: var(--color--none);
  --button-border--background-color--negative--hover: var(--color--negative-200);
  --button-border--background-color--negative--active: var(--color--none);
  --button-border--background-color--negative--selected: var(--color--none);

  --button-border--background-color--accent: var(--color--none);
  --button-border--background-color--accent--hover: var(--color--accent-200);
  --button-border--background-color--accent--active: var(--color--none);
  --button-border--background-color--accent--selected: var(--color--none);
  
  --button-border--background-color--disabled: var(--color--none);
  
  --button-border--background-color--none: var(--color--none);
  

  --button-border--border-color--default: var(--border-color--default);
  --button-border--border-color--default--hover: var(--border-color--default--hover);
  --button-border--border-color--default--active: var(--border-color--default--active);
  --button-border--border-color--default--selected: var(--border-color--default--selected);
  
  --button-border--border-color--primary: var(--border-color--primary);
  --button-border--border-color--primary--hover: var(--border-color--primary--hover);
  --button-border--border-color--primary--active: var(--border-color--primary--active);
  --button-border--border-color--primary--selected: var(--border-color--primary--selected);
  
  --button-border--border-color--secondary: var(--border-color--secondary);
  --button-border--border-color--secondary--hover: var(--border-color--secondary--hover);
  --button-border--border-color--secondary--active: var(--border-color--secondary--active);
  --button-border--border-color--secondary--selected: var(--border-color--secondary--selected);
  
  --button-border--border-color--info: var(--border-color--info);
  --button-border--border-color--info--hover: var(--border-color--info--hover);
  --button-border--border-color--info--active: var(--border-color--info--active);
  --button-border--border-color--info--selected: var(--border-color--info--selected);
  
  --button-border--border-color--positive: var(--border-color--positive);
  --button-border--border-color--positive--hover: var(--border-color--positive--hover);
  --button-border--border-color--positive--active: var(--border-color--positive--active);
  --button-border--border-color--positive--selected: var(--border-color--positive--selected);

  --button-border--border-color--notice: var(--border-color--notice);
  --button-border--border-color--notice--hover: var(--border-color--notice--hover);
  --button-border--border-color--notice--active: var(--border-color--notice--active);
  --button-border--border-color--notice--selected: var(--border-color--notice--selected);
  
  --button-border--border-color--negative: var(--border-color--negative);
  --button-border--border-color--negative--hover: var(--border-color--negative--hover);
  --button-border--border-color--negative--active: var(--border-color--negative--active);
  --button-border--border-color--negative--selected: var(--border-color--negative--selected);
  
  --button-border--border-color--accent: var(--border-color--accent);
  --button-border--border-color--accent--hover: var(--border-color--accent--hover);
  --button-border--border-color--accent--active: var(--border-color--accent--active);
  --button-border--border-color--accent--selected: var(--border-color--accent--selected);
  
  --button-border--border-color--disabled: var(--border-color--disabled);
  
  --button-border--border-color--none: var(--border-color--none);


  // link
  --link--color : var(--color--blue-900);
  --link--color--hover: var(--color--red-900);


  // icon-link
  --icon-link--color : var(--color--gray-900);
  --icon-link--color--hover: var(--color--red-900);


  // status-label
  --status-label--color--default: var(--white);
  --status-label--color--primary: var(--white);
  --status-label--color--secondary: var(--white);
  --status-label--color--info: var(--white);
  --status-label--color--positive: var(--white);
  --status-label--color--notice: var(--white);
  --status-label--color--negative: var(--white);
  --status-label--color--accent: var(--white);
  --status-label--color--disabled: var(--white);
  --status-label--color--none: var(--white);

  --status-label--background-color--default: var(--background-color--default);
  --status-label--background-color--primary: var(--background-color--primary);
  --status-label--background-color--secondary: var(--background-color--secondary);
  --status-label--background-color--info: var(--background-color--info);
  --status-label--background-color--positive: var(--background-color--positive);
  --status-label--background-color--notice: var(--background-color--notice);
  --status-label--background-color--negative: var(--background-color--negative);
  --status-label--background-color--accent: var(--background-color--accent);
  --status-label--background-color--disabled: var(--background-color--disabled);
  --status-label--background-color--none: var(--background-color--none);

  --status-label--border-color--default: var(--color--none);
  --status-label--border-color--primary: var(--color--none);
  --status-label--border-color--secondary: var(--color--none);
  --status-label--border-color--info: var(--color--none);
  --status-label--border-color--positive: var(--color--none);
  --status-label--border-color--notice: var(--color--none);
  --status-label--border-color--negative: var(--color--none);
  --status-label--border-color--accent: var(--color--none);
  --status-label--border-color--disabled: var(--color--none);
  --status-label--border-color--none: var(--color--none);


  // status-lable-border
  --status-label-border--color--default: var(--color--default);
  --status-label-border--color--primary: var(--color--primary);
  --status-label-border--color--secondary: var(--color--secondary);
  --status-label-border--color--info: var(--color--info);
  --status-label-border--color--positive: var(--color--positive);
  --status-label-border--color--notice: var(--color--notice);
  --status-label-border--color--negative: var(--color--negative);
  --status-label-border--color--accent: var(--color--accent);
  --status-label-border--color--disabled: var(--color--disabled);
  --status-label-border--color--none: var(--color--none);

  --status-label-border--background-color--default: var(--color--none);
  --status-label-border--background-color--primary: var(--color--none);
  --status-label-border--background-color--secondary: var(--color--none);
  --status-label-border--background-color--info: var(--color--none);
  --status-label-border--background-color--positive: var(--color--none);
  --status-label-border--background-color--notice: var(--color--none);
  --status-label-border--background-color--negative: var(--color--none);
  --status-label-border--background-color--accent: var(--color--none);
  --status-label-border--background-color--disabled: var(--color--none);
  --status-label-border--background-color--none: var(--color--none);

  --status-label-border--border-color--default: var(--border-color--default);
  --status-label-border--border-color--primary: var(--border-color--primary);
  --status-label-border--border-color--secondary: var(--border-color--secondary);
  --status-label-border--border-color--info: var(--border-color--info);
  --status-label-border--border-color--positive: var(--border-color--positive);
  --status-label-border--border-color--notice: var(--border-color--notice);
  --status-label-border--border-color--negative: var(--border-color--negative);
  --status-label-border--border-color--accent: var(--border-color--accent);
  --status-label-border--border-color--disabled: var(--border-color--disabled);
  --status-label-border--border-color--none: var(--border-color--none);


  // tiptap
  --tiptap--color: var(--color--default);

  // admin-tab
  --admin-tab--button--background-color--active: var(--background-color--default);
}
