// gray
$gray-050 :rgb(255, 255, 255);
$gray-075 :rgb(253, 253, 253);
$gray-100 :rgb(248, 248, 248);
$gray-200 :rgb(230, 230, 230);
$gray-300 :rgb(213, 213, 213);
$gray-400 :rgb(177, 177, 177);
$gray-500 :rgb(144, 144, 144);
$gray-600 :rgb(109, 109, 109);
$gray-700 :rgb(70, 70, 70);
$gray-800 :rgb(34, 34, 34);
$gray-900 :rgb(0, 0, 0);

// blue
$blue-100 : rgb(224, 242, 255);
$blue-200 : rgb(202, 232, 255);
$blue-300 : rgb(181, 222, 255);
$blue-400 : rgb(150, 206, 253);
$blue-500 : rgb(120, 187, 250);
$blue-600 : rgb(89, 167, 246);
$blue-700 : rgb(56, 146, 243);
$blue-800 : rgb(20, 122, 243);
$blue-900 : rgb(2, 101, 220);
$blue-1000 : rgb(0, 84, 182);
$blue-1100 : rgb(0, 68, 145);
$blue-1200 : rgb(0, 53, 113);
$blue-1300 : rgb(0, 39, 84);
$blue-1400 : rgb(0, 28, 60);

// red
$red-100 : rgb(255, 235, 231);
$red-200 : rgb(255, 221, 214);
$red-300 : rgb(255, 205, 195);
$red-400 : rgb(255, 183, 169);
$red-500 : rgb(255, 155, 136);
$red-600 : rgb(255, 124, 101);
$red-700 : rgb(247, 92, 70);
$red-800 : rgb(234, 56, 41);
$red-900 : rgb(211, 21, 16);
$red-1000 : rgb(180, 0, 0);
$red-1100 : rgb(147, 0, 0);
$red-1200 : rgb(116, 0, 0);
$red-1300 : rgb(89, 0, 0);
$red-1400 : rgb(67, 0, 0);

// orange
$orange-100 : rgb(255, 236, 204);
$orange-200 : rgb(255, 223, 173);
$orange-300 : rgb(253, 210, 145);
$orange-400 : rgb(255, 187, 99);
$orange-500 : rgb(255, 160, 55);
$orange-600 : rgb(246, 133, 17);
$orange-700 : rgb(228, 111, 0);
$orange-800 : rgb(203, 93, 0);
$orange-900 : rgb(177, 76, 0);
$orange-1000 : rgb(149, 61, 0);
$orange-1100 : rgb(122, 47, 0);
$orange-1200 : rgb(97, 35, 0);
$orange-1300 : rgb(73, 25, 1);
$orange-1400 : rgb(53, 18, 1);

// yellow
$yellow-100 : rgb(251, 241, 152);
$yellow-200 : rgb(248, 231, 80);
$yellow-300 : rgb(248, 217, 4);
$yellow-400 : rgb(232, 198, 0);
$yellow-500 : rgb(215, 179, 0);
$yellow-600 : rgb(196, 159, 0);
$yellow-700 : rgb(176, 140, 0);
$yellow-800 : rgb(155, 120, 0);
$yellow-900 : rgb(133, 102, 0);
$yellow-1000 : rgb(112, 83, 0);
$yellow-1100 : rgb(91, 67, 0);
$yellow-1200 : rgb(72, 51, 0);
$yellow-1300 : rgb(54, 37, 0);
$yellow-1400 : rgb(40, 26, 0);

// chartreuse
$chartreuse-100 : rgb(219, 252, 110);
$chartreuse-200 : rgb(203, 244, 67);
$chartreuse-300 : rgb(188, 233, 42);
$chartreuse-400 : rgb(170, 216, 22);
$chartreuse-500 : rgb(152, 197, 10);
$chartreuse-600 : rgb(135, 177, 3);
$chartreuse-700 : rgb(118, 156, 0);
$chartreuse-800 : rgb(103, 136, 0);
$chartreuse-900 : rgb(87, 116, 0);
$chartreuse-1000 : rgb(72, 96, 0);
$chartreuse-1100 : rgb(58, 77, 0);
$chartreuse-1200 : rgb(44, 59, 0);
$chartreuse-1300 : rgb(33, 44, 0);
$chartreuse-1400 : rgb(24, 31, 0);

// celery
$celery-100 : rgb(205, 252, 191);
$celery-200 : rgb(174, 246, 157);
$celery-300 : rgb(150, 238, 133);
$celery-400 : rgb(114, 224, 106);
$celery-500 : rgb(78, 207, 80);
$celery-600 : rgb(39, 187, 54);
$celery-700 : rgb(7, 167, 33);
$celery-800 : rgb(0, 145, 18);
$celery-900 : rgb(0, 124, 15);
$celery-1000 : rgb(0, 103, 15);
$celery-1100 : rgb(0, 83, 13);
$celery-1200 : rgb(0, 64, 10);
$celery-1300 : rgb(0, 48, 7);
$celery-1400 : rgb(0, 34, 5);

// green
$green-100 : rgb(206, 248, 224);
$green-200 : rgb(173, 244, 206);
$green-300 : rgb(137, 236, 188);
$green-400 : rgb(103, 222, 168);
$green-500 : rgb(73, 204, 147);
$green-600 : rgb(47, 184, 128);
$green-700 : rgb(21, 164, 110);
$green-800 : rgb(0, 143, 93);
$green-900 : rgb(0, 122, 77);
$green-1000 : rgb(0, 101, 62);
$green-1100 : rgb(0, 81, 50);
$green-1200 : rgb(5, 63, 39);
$green-1300 : rgb(10, 46, 29);
$green-1400 : rgb(10, 32, 21);

// seafoam
$seafoam-100 : rgb(206, 247, 243);
$seafoam-200 : rgb(170, 241, 234);
$seafoam-300 : rgb(140, 233, 226);
$seafoam-400 : rgb(101, 218, 210);
$seafoam-500 : rgb(63, 201, 193);
$seafoam-600 : rgb(15, 181, 174);
$seafoam-700 : rgb(0, 161, 154);
$seafoam-800 : rgb(0, 140, 135);
$seafoam-900 : rgb(0, 119, 114);
$seafoam-1000 : rgb(0, 99, 95);
$seafoam-1100 : rgb(12, 79, 76);
$seafoam-1200 : rgb(18, 60, 58);
$seafoam-1300 : rgb(18, 44, 43);
$seafoam-1400 : rgb(15, 31, 30);

// cyan
$cyan-100 : rgb(197, 248, 255);
$cyan-200 : rgb(164, 240, 255);
$cyan-300 : rgb(136, 231, 250);
$cyan-400 : rgb(96, 216, 243);
$cyan-500 : rgb(51, 197, 232);
$cyan-600 : rgb(18, 176, 218);
$cyan-700 : rgb(1, 156, 200);
$cyan-800 : rgb(0, 134, 180);
$cyan-900 : rgb(0, 113, 159);
$cyan-1000 : rgb(0, 93, 137);
$cyan-1100 : rgb(0, 74, 115);
$cyan-1200 : rgb(0, 57, 93);
$cyan-1300 : rgb(0, 42, 70);
$cyan-1400 : rgb(0, 30, 51);

// indigo
$indigo-100 : rgb(237, 238, 255);
$indigo-200 : rgb(224, 226, 255);
$indigo-300 : rgb(211, 213, 255);
$indigo-400 : rgb(193, 196, 255);
$indigo-500 : rgb(172, 175, 255);
$indigo-600 : rgb(149, 153, 255);
$indigo-700 : rgb(126, 132, 252);
$indigo-800 : rgb(104, 109, 244);
$indigo-900 : rgb(82, 88, 228);
$indigo-1000 : rgb(64, 70, 202);
$indigo-1100 : rgb(50, 54, 168);
$indigo-1200 : rgb(38, 41, 134);
$indigo-1300 : rgb(27, 30, 100);
$indigo-1400 : rgb(20, 22, 72);

// purple
$purple-100 : rgb(246, 235, 255);
$purple-200 : rgb(238, 221, 255);
$purple-300 : rgb(230, 208, 255);
$purple-400 : rgb(219, 187, 254);
$purple-500 : rgb(204, 164, 253);
$purple-600 : rgb(189, 139, 252);
$purple-700 : rgb(174, 114, 249);
$purple-800 : rgb(157, 87, 244);
$purple-900 : rgb(137, 61, 231);
$purple-1000 : rgb(115, 38, 211);
$purple-1100 : rgb(93, 19, 183);
$purple-1200 : rgb(71, 12, 148);
$purple-1300 : rgb(51, 16, 106);
$purple-1400 : rgb(35, 15, 73);

// fuchsia
$fuchsia-100 : rgb(255, 233, 252);
$fuchsia-200 : rgb(255, 218, 250);
$fuchsia-300 : rgb(254, 199, 248);
$fuchsia-400 : rgb(251, 174, 246);
$fuchsia-500 : rgb(245, 146, 243);
$fuchsia-600 : rgb(237, 116, 237);
$fuchsia-700 : rgb(224, 85, 226);
$fuchsia-800 : rgb(205, 58, 206);
$fuchsia-900 : rgb(182, 34, 183);
$fuchsia-1000 : rgb(157, 3, 158);
$fuchsia-1100 : rgb(128, 0, 129);
$fuchsia-1200 : rgb(100, 6, 100);
$fuchsia-1300 : rgb(71, 14, 70);
$fuchsia-1400 : rgb(50, 13, 49);

// magenta
$magenta-100 : rgb(255, 234, 241);
$magenta-200 : rgb(255, 220, 232);
$magenta-300 : rgb(255, 202, 221);
$magenta-400 : rgb(255, 178, 206);
$magenta-500 : rgb(255, 149, 189);
$magenta-600 : rgb(250, 119, 170);
$magenta-700 : rgb(239, 90, 152);
$magenta-800 : rgb(222, 61, 130);
$magenta-900 : rgb(200, 34, 105);
$magenta-1000 : rgb(173, 9, 85);
$magenta-1100 : rgb(142, 0, 69);
$magenta-1200 : rgb(112, 0, 55);
$magenta-1300 : rgb(84, 3, 42);
$magenta-1400 : rgb(60, 6, 29);

//none
$none : none;



