$background-repeat--repeat : repeat;
$background-repeat--repeat-x : repeat-x;
$background-repeat--repeat-y : repeat-y;
$background-repeat--no-repeat : no-repeat;

$background-attachment--scroll : scroll;
$background-attachment--fixed : fixed;
