$border-width--100 : 1px;
$border-width--200 : 2px;
$border-width--300 : 3px;
$border-width--400 : 4px;
$border-width--500 : 5px;
$border-width--600 : 6px;
$border-width--700 : 7px;
$border-width--800 : 8px;
$border-width--900 : 9px;
$border-width--1000 : 10px;

$border-style--none : none;
$border-style--hidden : hidden;
$border-style--solid : solid;
$border-style--double : double;
$border-style--groove : groove;
$border-style--ridge : ridge;
$border-style--inset : inset;
$border-style--outset : outset;
$border-style--dotted : dotted;
$border-style--dashed : dashed;

$border-radius--000 : 0;
$border-radius--100 : 2px;
$border-radius--200 : 4px;
$border-radius--300 : 6px;
$border-radius--400 : 8px;
$border-radius--500 : 10px;
$border-radius--600 : 12px;
$border-radius--700 : 14px;
$border-radius--800 : 16px;
$border-radius--900 : 18px;
$border-radius--1000 : 20px;
$border-radius--full : 25vh;
