$box-shadow--none : 0px;
$box-shadow--100 : 1px;
$box-shadow--200 : 2px;
$box-shadow--300 : 3px;
$box-shadow--400 : 4px;
$box-shadow--500 : 5px;
$box-shadow--600 : 6px;
$box-shadow--700 : 7px;
$box-shadow--800 : 8px;
$box-shadow--900 : 9px;
$box-shadow--1000 : 10px;

$box-shadow-x--none : 0px;
$box-shadow-x--100 : 1px;
$box-shadow-x--200 : 2px;
$box-shadow-x--300 : 3px;
$box-shadow-x--400 : 4px;
$box-shadow-x--500 : 5px;
$box-shadow-x--600 : 6px;
$box-shadow-x--700 : 7px;
$box-shadow-x--800 : 8px;
$box-shadow-x--900 : 9px;
$box-shadow-x--1000 : 10px;

$box-shadow-y--none : 0px;
$box-shadow-y--100 : 1px;
$box-shadow-y--200 : 2px;
$box-shadow-y--300 : 3px;
$box-shadow-y--400 : 4px;
$box-shadow-y--500 : 5px;
$box-shadow-y--600 : 6px;
$box-shadow-y--700 : 7px;
$box-shadow-y--800 : 8px;
$box-shadow-y--900 : 9px;
$box-shadow-y--1000 : 10px;