$cursor--auto : auto;
$cursor--default : default;
$cursor--pointer : pointer;
$cursor--crosshair : crosshair;
$cursor--move : move;
$cursor--text : text;
$cursor--wait : wait;
$cursor--help : help;
$cursor--n-resize : n-resize;
$cursor--e-resize : e-resize;
$cursor--s-resize : s-resize;
$cursor--w-resize : w-resize;
$cursor--ne-resize : ne-resize;
$cursor--se-resize : se-resize;
$cursor--sw-resize : sw-resize;
$cursor--nw-resize : nw-resize;
