$list-style-type--none : none;
$list-style-type--disc : disc;
$list-style-type--circle : circle;
$list-style-type--square : square;
$list-style-type--decimal : decimal;
$list-style-type--upper-alpha : upper-alpha;
$list-style-type--lower-alpha : lower-alpha;
$list-style-type--upper-roman : upper-roman;
$list-style-type--lower-roman : lower-roman;
$list-style-type--decimal-leading-zero : decimal-leading-zero;
$list-style-type--lower-greek : lower-greek;
$list-style-type--upper-latin : upper-latin;
$list-style-type--lower-latin : lower-latin;
$list-style-type--hebrew : hebrew;
$list-style-type--armenian : armenian;
$list-style-type--georgian : georgian;
$list-style-type--cjk-ideographic : cjk-ideographic;
$list-style-type--hiragana : hiragana;
$list-style-type--katakana : katakana;
$list-style-type--hiragana-iroha : hiragana-iroha;
$list-style-type--katakana-iroha : katakana-iroha;

$list-style-position--outside : outside;
$list-style-position--inside : inside;
