$margin--none : 0;
$margin--050 : 2px;
$margin--075 : 4px;
$margin--100 : 8px;
$margin--200 : 12px;
$margin--300 : 16px;
$margin--400 : 24px;
$margin--500 : 32px;
$margin--600 : 40px;
$margin--700 : 48px;
$margin--800 : 64px;
$margin--900 : 80px;
$margin--1000 : 96px;
