$padding--none : 0;
$padding--050 : 2px;
$padding--075 : 4px;
$padding--100 : 8px;
$padding--200 : 12px;
$padding--300 : 16px;
$padding--400 : 24px;
$padding--500 : 32px;
$padding--600 : 40px;
$padding--700 : 48px;
$padding--800 : 64px;
$padding--900 : 80px;
$padding--1000 : 96px;
