$table-layout--auto : auto;
$table-layout--fixed : fixed;

$border-collapse--collapse : collapse;
$border-collapse--separate : separate;

$border-spacing--none : 0;
$border-spacing--100 : 1px;
$border-spacing--200 : 2px;
$border-spacing--300 : 3px;
$border-spacing--400 : 4px;
$border-spacing--500 : 5px;
$border-spacing--600 : 6px;
$border-spacing--700 : 7px;
$border-spacing--800 : 8px;
$border-spacing--900 : 9px;
$border-spacing--1000 : 10px;
