$transition--default : all 300ms ease;

$transition-property--none : none;
$transition-property--all : all;

$transition-duration--000 : 0ms;
$transition-duration--100 : 150ms;
$transition-duration--200 : 300ms;
$transition-duration--300 : 500ms;
$transition-duration--400 : 750ms;
$transition-duration--500 : 1000ms;
$transition-duration--600 : 1500ms;
$transition-duration--700 : 2000ms;
$transition-duration--800 : 3000ms;
$transition-duration--900 : 5000ms;
$transition-duration--1000 : 10000ms;

$transition-timing-function--ease : ease;
$transition-timing-function--linear : linear;
$transition-timing-function--ease-in : ease-in;
$transition-timing-function--ease-out : ease-out;
$transition-timing-function--ease-in-out : ease-in-out;

$transition-delay--000 : 0ms;
$transition-delay--100 : 150ms;
$transition-delay--200 : 300ms;
$transition-delay--300 : 500ms;
$transition-delay--400 : 750ms;
$transition-delay--500 : 1000ms;
$transition-delay--600 : 1500ms;
$transition-delay--700 : 2000ms;
$transition-delay--800 : 3000ms;
$transition-delay--900 : 5000ms;
$transition-delay--1000 : 10000ms;